body{
  padding: 72px;
  font-family: sans-serif;
}

header{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  height: 75px;
  width: auto;
}

header nav a{
  text-decoration: none;
  color: #c1c0c1;
  margin: 0 12px;
}

.btn{
  background: #111;
  text-decoration: none;
  color: #FFF;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
}

.slide{
  display: flex;

}

.slide-txt{
flex:3;
}

.slide-img {
  flex:10;
}

.slide-img img{
  max-width: 100%;
  display: block;
}

.btn-green{
  background: #4bd980;
}


header .options .btn{
  display: inline-block;
  margin-left: 20px;
}

header .icon i{
  color: #c1c0c1;
  display: inline-block;
  margin-right: 12px;
  font-size: 20px;
}