body{
  padding: 70px;
  font-family: sans-serif;
}

header{
  height: 100px;
  width: 100%;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img{
  height: 75px;
  width: auto;
}

header nav a{
  text-decoration: none;
  color: #c1c0c1;
}

header .icon i{
  color: #c1c0c1;
}